body {
    font-family: Roboto, sans-serif;
    margin: 2rem;
    background-color: #ffffff;
    color: #222;
}

header {
    border-bottom: 3px solid #007a33;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

h1 {
    color: #007a33;
}

h2 {
    color: #199e59;
    margin-top: 2rem;
}

section {
    margin-bottom: 2rem;
}

.wireframes img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin-top: 1rem;
}